* {
  box-sizing:border-box;
}

.container {
  width: 800px;
  text-align: center;
  margin: 0 auto;
  background: rgb(196,233,232);
  background: linear-gradient(209deg, rgba(196,233,232,1) 0%, rgba(86,221,221,1) 35%, rgba(0,212,255,1) 100%);
}

button:hover {
  background-color: #66b2e6;
  outline: 0;
}

.active-button {
  background-color: #6363cf;
}
