nav {
    padding: 10px;
    text-align: center;
  }
  
  nav button {
    margin-left: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #0066cc;
    width: 20%;
    padding: 10px;
    border-radius: 12px;
    background-color: #56efef;
  }

 a:link {
    text-decoration: none;
 }
  
  button:hover {
    background-color: #66b2e6;
    outline: 0;
  }
  
  